.iconfont {
    line-height: 1;
}

// 若menu 使用iconfont ，则进行特殊处理
.ant-menu-item .iconfont {
    display: inline-block;
}
// 进行特殊处理
.ant-menu-inline-collapsed > .ant-menu-item .iconfont {
    font-size: 16px;
    line-height: 42px;

    display: block;

    margin: 0;
}
