#root{
	position: relative;
	z-index: 1;
	height: 100%;
}
.iconfont {
	line-height: 1;
	&.mr8{
		margin-right: 8px;
	}
}

// 若menu 使用iconfont ，则进行特殊处理
.ant-menu-item .iconfont {
    display: inline-block;
}
// 进行特殊处理
.ant-layout-sider-collapsed .ant-menu-submenu-title .iconfont {
    font-size: 16px;
    line-height: 42px;

    display: block;

    margin: 0;
}
